{% extends 'base/container.html.twig' %}
{% trans_default_domain 'user' %}

{% block content %}
    <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="bg-white overflow-hidden dark:bg-neutral-900">

                    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-neutral-700">
                        <div class="md:min-w-[300px]">
                            <div class="relative">
                                <input type="text" data-table-search="{{ search_config|json_encode }}" class="peer py-2 px-3 ps-11 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Search">
                                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                                    <svg class="shrink-0 size-4 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <path d="m21 21-4.3-4.3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="inline-flex gap-x-2">
                                <twig:Link:Button href="{{ path('user.create') }}" size="small">
                                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5v14"></path>
                                    </svg>
                                    {{ 'Create'|trans({}, 'messages') }}
                                </twig:Link:Button>
                            </div>
                        </div>
                    </div>

                    <div id="table">Loading data..</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block importmap %}
    {{ importmap(['application', 'tabulator'], {'data-table-config': tabulator_config(table)}) }}
{% endblock %}
