{% extends 'base/base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
    <div class="flex flex-row items-center justify-center w-full min-h-screen">
        <div class="bg-white border border-gray-200 shadow-sm rounded-xl p-4 w-full max-w-2xl md:p-8 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
            <p class="text-red-500">500</p>
            <p class="mt-3 mb-5 font-semibold">{{ 'Oops, something went wrong'|trans }}</p>

            <p class="text-sm text-gray-500">
                {{ 'An internal server error has occurred which we will attempt to fix as quickly as possible. We apologize for the inconvenience.'|trans }}
            </p>

            <twig:Link:Button href="{{ path('dashboard') }}" variang="soft" size="small" class="mt-5">
                {{ 'Back to the Dashboard'|trans }}
            </twig:Link:Button>
        </div>
    </div>
{% endblock %}
